.button {
  display: block;
  color: var(--color-1);
  background: #44ffa1;
  padding: 0.81rem 1.97rem 1rem 2.03rem;
  place-self: center;
  border: 1px solid transparent;
  font: 700 1.125rem/1.77 "Manrope Regular", sans-serif;
  letter-spacing: -0.01125rem;
  text-align: center;
}

.button:hover {
  color: var(--color-2);
  background: #24053e;
  border-color: var(--color-2);
}

@media (max-width: 768px) {
  .button {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    padding: 0.75rem 1.44rem;
  }
}
