@font-face {
  font-family: "Manrope";
  src: url("../../fonts/manrope/Manrope.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces 144pt";
  src: url("../../fonts/fraunces/Fraunces_144pt-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.font-2-s,
.font-2-s-b {
  font: 400 1.125rem/1.77 "Manrope", sans-serif;
}

.font-2-s-b {
  font-weight: 700;
  letter-spacing: -0.01125rem;
}

.font-1-m {
  font: 600 1.5rem/1.66 "Fraunces 144pt", sans-serif;
}

.font-1-l {
  font: 600 2rem/1.25 "Fraunces 144pt", sans-serif;
}

.font-1-xl {
  font: 600 3.5rem/1.14 "Fraunces 144pt", sans-serif;
}

.font-1-xxl {
  font: 600 5rem/1 "Fraunces 144pt", sans-serif;
}

@media (max-width: 1200px) {
  .font-2-s-b {
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }

  .font-2-s {
    font-size: 1rem;
    line-height: 1.75;
  }

  .font-1-m {
    font-size: 1.25rem;
  }

  .font-1-l {
    font-size: 1.75rem;
    line-height: 1.28;
  }

  .font-1-xl {
    font-size: 3rem;
    line-height: 1.16;
  }

  .font-1-xxl {
    font-size: 3.75rem;
  }
}

@media (max-width: 800px) {
  .font-1-xl {
    font-size: 2rem;
    line-height: 1.5;
  }

  .font-1-xxl {
    font-size: 3.125rem;
  }
}
