@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/manrope/Manrope-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces 144pt";
  src: url("../fonts/fraunces/Fraunces_144pt-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin: 0px;
}

ul {
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

.header-bg {
  background-color: #fcf8ff;
  background-image: url("../images/bg-pattern-1.svg"),
    url("../images/bg-pattern-2.svg"), url("../images/bg-image-1.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 341px, 174px, cover;
  background-position: left -129px top 116.12px, right -50px top 314.17px,
    center bottom 255px;
  box-shadow: inset 0 -255px #fcf8ff;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3.98rem;
  box-sizing: border-box;
  padding: 3.61rem 10.33rem 6.5rem;
  margin-left: auto;
  margin-right: auto;
}

.header-content-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-access {
  font-family: "Manrope Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01125rem;
  color: #ffffff;
  padding: 16px 0px;
  position: relative;
  display: inline-block;
}

.header-button-access::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #44ffa1;
  margin-top: 4px;
  position: absolute;
}

.header-button-access:active {
  color: #44ffa1;
}

.header-content-secondary {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-title {
  font-family: "Fraunces 144pt", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  color: #ffffff;
  margin-bottom: 37px;
}

.header-title span {
  position: relative;
}

.header-title span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #44ffa1;
  left: 0;
  bottom: 6px;
  position: absolute;
}

.header-button-learn-more {
  font-family: "Manrope Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01125rem;
  color: #24053e;
  background: #44ffa1;
  padding: 0.81rem 1.97rem 1rem 2.03rem;
  text-align: center;
  place-self: center;
  display: block;
  border: 1px solid transparent;
  margin-bottom: 46px;
}

.header-button-learn-more:active {
  color: #44ffa1;
  background-color: #24053e;
  border-color: #44ffa1;
}

.header-banner {
  margin-left: 50px;
}

.hero-image {
  width: 702px;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
}

@media (max-width: 1075px) {
  .header-bg {
    background-size: 270.294px, 141.703px, cover;
    background-position: left -179px top 116.12px, right -73px top 314.17px,
      center bottom 166px;
    box-shadow: inset 0 -166px #fcf8ff;
  }

  .header {
    gap: 3.77rem;
    padding: 2.31rem 2.44rem 4.09rem;
  }

  .header-button-access {
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }

  .header-title {
    font-size: 3.75rem;
    line-height: 3.75rem;
    margin-bottom: 39px;
  }

  .header-button-learn-more {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    padding: 0.75rem 1.44rem;
    margin-bottom: 52.32px;
  }

  .hero-image {
    width: 479.153px;
  }
}

@media (max-width: 575px) {
  .header-bg {
    background-image: url("../images/bg-image-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom 180px;
    box-shadow: inset 0 -180px #fcf8ff;
  }

  .header {
    gap: 4.27rem;
    padding: 2.31rem 1rem 4.09rem;
  }

  .header-title {
    font-size: 3.125rem;
    line-height: 3.125rem;
  }

  .header-button-learn-more {
    margin-bottom: 62.33px;
  }

  .header-banner {
    margin-left: initial;
  }

  .hero-image {
    width: 398.305px;
  }
}

@media (max-width: 475px) {
  .header-bg {
    background-position: center bottom 150px;
    box-shadow: inset 0 -150px #fcf8ff;
  }

  .hero-image {
    width: 298.305px;
  }
}

.introduction-bg {
  background-image: url("../images/bg-image-2.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.introduction {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  gap: 1.62rem;
  padding: 0px 10.31rem 10.69rem;
}

.introduction li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction-circle {
  width: 56px;
  height: 56px;
  border: 1px solid #584d62;
  border-radius: 30.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 56px;
}

.introduction-circle h2 {
  color: #24053e;
  font-family: "Fraunces 144pt", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.5rem;
}

.introduction-title {
  color: #24053e;
  font-family: "Fraunces 144pt", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: center;
  margin-bottom: 28px;
}

.introduction-text {
  color: #24053e;
  font-family: "Manrope Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  max-width: 40ch;
}

/* TODO: Criar responsividades da introduction */
