@font-face {
  font-family: "Manrope Regular";
  src: url("../fonts/manrope/Manrope-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fraunces 144pt";
  src: url("../fonts/fraunces/Fraunces_144pt-SemiBold.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0px;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  margin: 0px;
}

a {
  text-decoration: none;
}

.header-bg {
  background-image: url("../images/bg-pattern-1.svg"),
    url("../images/bg-pattern-2.svg"), url("../images/bg-image-1.svg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 341px, 174px, cover;
  background-position: left -129px top 116.12px, right -50px top 314.17px,
    center bottom;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 3.98rem;
  box-sizing: border-box;
  padding: 3.61rem 10.33rem 20.38rem;
  margin-left: auto;
  margin-right: auto;
}

.header-content-primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-button-access {
  font-family: "Manrope Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01125rem;
  color: #ffffff;
  padding: 16px 0px;
  position: relative;
  display: inline-block;
}

.header-button-access::after {
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background: #44ffa1;
  margin-top: 4px;
  position: absolute;
}

.header-button-access:active {
  color: #44ffa1;
}

.header-content-secondary {
  display: flex;
  gap: 2.31rem;
  flex-direction: column;
  position: relative;
}

.header-title {
  font-family: "Fraunces 144pt", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  line-height: 5rem;
  text-align: center;
  color: #ffffff;
}

.header-title span {
  position: relative;
}

.header-title span::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #44ffa1;
  left: 0;
  bottom: 6px;
  position: absolute;
}

.header-button-learn-more {
  font-family: "Manrope Regular", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -0.01125rem;
  color: #24053e;
  background: #44ffa1;
  padding: 0.81rem 1.97rem 1rem 2.03rem;
  text-align: center;
  place-self: center;
  display: block;
  border: 1px solid transparent;
}

.header-button-learn-more:active {
  color: #44ffa1;
  background-color: #24053e;
  border-color: #44ffa1;
}

.header-hero {
  width: 715px;
  height: 427px;
  position: absolute;
  top: 307px;
  left: 53%;
  transform: translateX(-50%);
}

@media (max-width: 1075px) {
  .header-bg {
    background-size: 270.294px, 141.703px, cover;
    background-position: left -179px top 116.12px, right -73px top 314.17px,
      center bottom;
  }

  .header {
    gap: 3.77rem;
    padding: 2.31rem 2.44rem 12.7rem;
  }

  .header-button-access {
    font-size: 1rem;
    letter-spacing: -0.01rem;
  }

  .header-content-secondary {
    gap: 2.44rem;
  }

  .header-title {
    font-size: 3.75rem;
    line-height: 3.75rem;
  }

  .header-button-learn-more {
    font-size: 1rem;
    letter-spacing: -0.01rem;
    padding: 0.75rem 1.44rem;
  }

  .header-hero {
    width: 479.153px;
    height: 286.603px;
    top: 266px;
  }
}

@media (max-width: 575px) {
  .header-bg {
    background-image: url("../images/bg-image.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }

  .header {
    gap: 4.27rem;
    padding: 2.31rem 1rem 9.79rem;
  }

  .header-content-secondary {
    gap: 2.5rem;
  }

  .header-title {
    font-size: 3.125rem;
    line-height: 3.125rem;
  }

  .header-hero {
    width: 398.305px;
    height: auto;
    top: 228px;
  }
}

@media (max-width: 475px) {
  .header-hero {
    width: 298.305px;
    height: 178.159px;
    top: 256px;
  }
}
