.founder-promotion {
  width: 1112px;
  height: 648px;
  padding-top: 6.87rem;
  padding-bottom: 3.75rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.founder-promotion-image img {
  width: 477px;
}

.founder-promotion-content {
  background: var(--color-1);
  width: 730px;
  height: 413px;
  padding: 4rem 4.03rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2rem;
  position: absolute;
  top: 280px;
  right: 0;
}

.founder-promotion-content::after {
  content: "";
  display: block;
  width: 221px;
  height: 212px;
  background-image: url("../../images/bg-pattern-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 263.29px;
  right: 75px;
}

@media (max-width: 1200px) {
  .founder-promotion {
    width: 689px;
  }

  .founder-promotion-image img {
    width: 281px;
  }

  .founder-promotion-content {
    width: 514px;
    height: 375px;
    padding: 3rem 3.5rem 3.5rem;
    gap: 1.5rem;
  }

  .founder-promotion-content::after {
    top: 263.29px;
    right: 12px;
  }
}

@media (max-width: 800px) {
  .founder-promotion {
    width: 343px;
  }

  .founder-promotion-image img {
    width: 281px;
    margin: auto;
  }

  .founder-promotion-content {
    width: 343px;
    height: 375px;
    padding: 2rem 1.97rem;
    gap: 1.5rem;
    align-items: center;
    top: 338px;
  }

  .founder-promotion-content::after {
    display: none;
  }

  .founder-promotion-content p {
    text-align: center;
  }
}
